.wrapper{
    height:100%;
    width: 100%;
}


.top-field{
    width:100%;
    height: 20%;
    border: 1px solid black;
}

.battle-field-all{
    height: 60%;
    width: 100%;
    border: 1px solid black;
}

.battle-field-all .battle-field {
    height: 50%;

}
.battle-field-all .e-battle-field {
    height: 50%;
    
}

.bottom-field{    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    border: 1px solid black;
}


.e-storeCard-field{
    width:30%;
    height: 100%;
    border: 1px solid black;
}
.e-handCard-field{
    width:70%;
    height: 100%;
    border: 1px solid black;
}
.storeCard-field{
    width:30%;
    height: 100%;
    border: 1px solid black;
}
.handCard-field{
    width:70%;
    height: 100%;
    border: 1px solid black;
}