
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.item {
    flex-basis: 20%;
}

.item:hover {
    border: 1px solid blue;    
}

.itemActive {
    flex-basis: 20%;
    border: 15px solid black;
}

.itemActiveEmpty:hover {
    border: 1px solid blue;
}

.itemActiveEmpty {
    flex-basis: 20%;
    border: 1px solid red;
}

.trapItemActiveEmpty {
    border: 1px solid red;
    flex-basis: 20%;
}