.currentRoom {
	width: 802px;
	height: 400px;
}
.gameImg {
	width: 100%;
	height: 70%;
	background-color: #00CCFF;
	border-radius: 10%;
}

.countInfo {
	width: 100%;
	height: 25%;
	margin-top: 2px;
	border: 2px solid #00CCFF;
	border-radius: 5px;
	background-color: #00CCFF;
}

.gameName {
	width: 100%;
	height: 47%;
	text-align: center;
	color:white;
	background-color: #003366;
	border-radius: 5px;
	
}
.hostRoom {
	float: left;
	width: 200px;
	height: 200px;
}
.hostSign {
	width: 100%;
	height: 47%;
	text-align: center;
	color:white;
	margin-top:2px;
	background-color: #000033;
	border-radius: 5px;

}

.guestRoom {
	float: left;
	width: 200px;
	height: 200px;
}