.rightBar {
    position: fixed;
    width: 100px;
    height: 80%;
    right: 0;
    top: 10%;
    background: greenyellow;
}


.buttonArea {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
}