.chatInfoShow {
width: 100%;
position: relative;
border-radius: 5px;
background-color: #0d72d2;
border: solid 1px black;
}

.chatInfoShowMain {
width: 100%;
height: 175px;
overflow: scroll ;
}

.chatInfoShowMain span {
color: #B7BD3C;
}

.sendChatInfo {
width: 100%;
position: absolute;
bottom: -19px;
}

.wrapper {
  width: 100%;
  height: 20px;
}

.per80 {
  width: 80%;
  display: inline-block;
}


.per20 {
  width: 20%;
  display: inline-block;
}

.input {
  width: 100%;
}