.reachRoom {
	margin: 0 auto;
	text-align: center;
	.roomWrapper{
	    width: 33%;
	    display: inline-block;
	    border: 1px solid #e1e1e1;
	    overflow: hidden;
	}

	Button {
		margin: 10px;
	}

	.backBtn {
		position: fixed;
		top: 10px;
		left: 10px;
	}
}