.rightBar {
    position: fixed;
    width: 100px;
    height: 80%;
    right: 0;
    top: 10%;
    background: greenyellow;
}

.cardsArea {
    height: 220px;
    overflow: scroll;
}

.buttonArea {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
}

.bottomBar {
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 100px;
    border: 1px solid green;
}

.cardGroup {
    width: 200px;
    display: inline-block;
    height: 100%;
    background: burlywood;
    cursor: pointer;
}

.choosenCardGroup {
    border: 1px solid red;
    width: 200px;
    display: inline-block;
    height: 100%;
    background: burlywood;
    cursor: pointer;
}

.chooseCards {
    position: absolute;
    top: 0;
    left: 300px;
}

.chooseCard {
    float: left;
    border: 1px solid black;
    width: 200px;
    height: 150px;
    text-align: center;
    margin:10px;
}

.cardProty {
    width: 100%;
    height: 20%;
    position: relative;
}

.cardAttack {
    position: absolute;
    top: 0;
    left: 2px;
}

.cardDefence {
    position: absolute;
    top: 0;
    right: 2px;
}

.cardName {
    width: 100%;
    height: 20%;
}

.cardInstro {
    width: 100%;
    height: 40%;
}

.chooseBtn {
    width: 100%;
    height: 20%;
}